*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100svh;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', 'Roboto', serif;
  height: inherit;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.4;
}

img {
  width: 100%;
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0.5em;
  color: hsl(0, 0%, 100%, 0.15);
  text-align: center;
  width: 100%;
  font-size: 0.875rem;
}

h1,
h2 {
  font-weight: 400;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.0625rem;
  margin: 0;
}


.card {
  width: 22.5%;
  min-width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5E7DA;
  border-radius: 5px;
  border: 1.5px solid #154360;
}

.card:hover {
  border-radius: 0px 0px 5px 5px;
}


.card__figure {
  height: 185px;
  overflow: hidden;
}

.card__img {
  border-radius: 5px 5px 0 0;
}

.card__img--border {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  object-fit: cover;
  border-radius: 5px 3px 0 0;
}

.card:hover .card__img--border {
  transform: scale(2);
  border-radius: 5px 5px 0 0;
}


.card:hover figcaption {
  color: hsl(0, 0%, 100%, 0.5);
}

.card__link {
  color: inherit;
  transition: all 0.25s ease-in-out;
  text-decoration: underline;
}

.card__link:hover {
  color: hsla(0, 0%, 100%, 0.8);
}


.card__text {
  background-color: #FFF;
  padding: 1.5em 1.75em 0.75em;
}

.tag {
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.125em 1em;
  background-color: rgb(255, 119, 0);
  color: #FFF;
  border-radius: 100px;
  text-decoration: none;
  font-size: 0.875rem;
}

.tag:hover,
.tag:focus {
  opacity: 0.75;
  font-weight: 400;
}

.card__text h1 {
  margin-bottom: 0;
  font-weight: bold;
}

.card__text p {
  margin-top: 8px;
}

.card__author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75em;
  margin-top: 1.25em;
}

.card__author--image {
  width: 50px;
  border-radius: 50% 50%;
}

.card__author--info  h2,
.card__author--info p {
  margin: 0;
}

.card__author--info h2 {
  font-weight: bold;
}

.card {
  transition: all 0.25s ease-in-out;
}

.card:hover {
  cursor: pointer;
  box-shadow: 1px 8px 25px -2px hsla(203, 64%, 23%, 0.3);
  -webkit-box-shadow: 1px 8px 25px -2px hsla(203, 64%, 23%, 0.3);
  -moz-box-shadow: 1px 8px 25px -2px hsla(203, 64%, 23%, 0.3);
}

