*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ROOT */

:root {
  --ff: 'Roboto Slab', 'Roboto', serif;
  --fs: 1rem;
  --fs-14: 0.875rem;
  --white: #fff;
  --bg-tag: rgb(255, 119, 0);
  --lh: 1.4;
  --mg-0: 0;
}

html {
  min-height: 100svh;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  flex-wrap: wrap;

  margin: var(--mg-0);
  font-family: var(--ff);
  font-size: var(--fs);
  line-height: var(--lh);
}

body > .card {
margin: 2em;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

figure {
  margin: var(--mg-0);
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0.5em;
  text-align: center;
  width: 100%;
  font-size: var(--fs-14);
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.0625rem;
  margin: var(--mg-0);
}


.card {
  border-radius: 5px;
  border: 1.5px solid #154360;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 290px;
}

.card:hover {
  border-radius: 0px 0px 5px 5px;
}


.card__figure {
  height: 180px;
  overflow: hidden;
}

.card__img {
  border-radius: 5px 4px 0 0;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.card:hover .card__img {
  transform: scale(2);
}

figcaption {
  color: hsl(0, 0%, 100%, 0.15);
}

.card:hover figcaption {
  color: hsl(0, 0%, 100%, 0.5);
}

.card__link {
  color: inherit;
  transition: color 0.25s ease-in-out;
  text-decoration: underline;
}

.card__link:hover {
  color: hsla(0, 0%, 100%, 0.8);
}


.card__text, 
.card__author {
  padding: 0 1.5em;
}

.tag {
  background-color: var(--bg-tag);
  border-radius: 100px;
  color: var(--white);
  font-size: var(--fs-14);
  padding: 0.125em 1em;
  text-transform: uppercase;
}

.tag:hover,
.tag:focus {
  opacity: 0.75;
}

.card__text h1,
.card__text p {
  margin-bottom: var(--mg-0);
}

.card__text p,
.card__text h1 {
  margin-top: 0.625em;
}


.card__author {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: 0 0 5px 5px;
  gap: 0.625em;
  padding-bottom: 1.5em;
  font-size: var(--fs-14);
}

.card__author--image {
  width: 45px;
}

.card__author--info  h2,
.card__author--info p {
  margin: var(--mg-0);
}




